[submodule "CS441-PreprocessorForNGSSimRank"]
	path = CS441-PreprocessorForNGSSimRank
	url = https://github.com/Kaushal1011/CS441-PreprocessorForNGSSimRank.git
[submodule "RandomWalkVisualiserForCS441"]
	path = RandomWalkVisualiserForCS441
	url = https://github.com/Kaushal1011/RandomWalkVisualiserForCS441.git
